.hack_hero_code_editor {
  overflow: hidden;
  border-radius: 1rem;
  background-color: #020202;
}

.hack_code_editor_top {
  padding: 0.875rem 1.5625rem 0.875rem 1rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, .16);
}

.hack_hero_dots_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hack_hero_dot {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: #4a4b4d;
}

.hack_code_editor_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
}

.hack_code_editor_dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Roboto Mono', sans-serif;
  color: hsla(0, 0%, 100%, .4);
  font-size: 1rem;
  line-height: 150%;
}

.hack_code_text_container {
  padding-right: 4rem;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 150%;
  text-align: left
}

.hack_code+cover {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}


@media screen and (min-width: 1440px) {
  .hack_code_text_container {
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .hack_hero_code_editor {
    border-radius: 16px;
  }
}

@media screen and (max-width: 991px) {
  .hack_hero_code_editor {
    border-radius: 1rem;
  }
}