.features {
  margin: 20px 0;
}

.cardList {
  margin: -20px -10px 0px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.cardListItem {
  padding: 20px 10px 0px;
  max-width: 25%;
  flex: 0 0 25%;
}

@media (max-width: 1100px) {
  .cardListItem {
      max-width: 40%;
      flex: 0 0 50%;
  }
}
@media (max-width: 720px) {
  .cardListItem {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .cardListItem {
      max-width: 90%;
      flex: 0 0 100%;
  }
}

.cardWrapper {
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.card {
  padding: 17px 10px 10px 17px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  color: rgb(7, 13, 32);
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: rgb(10 10 10 / 10%) 10px 10px 30px 0px;
}
