/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,400&family=Inter:wght@400;500;600&display=swap');
:root {
  --ifm-color-primary: #9c62f9;
  --ifm-color-primary-active: #9c62f9;
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.markdown a {
  color: #359ec8;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.menu {
  /* background-color: var(--ifm-color-emphasis-0); */
  padding: 1.5rem 1rem !important;
}

.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.container.padding-top--md {
  padding-top: 2rem !important;
}

.table-of-contents {
  opacity: 0.7;
}

.table-of-contents:hover {
  opacity: 1;
}

.table-of-contents__link:hover {
  text-decoration: underline;
}

.menu__link--active,
.navbar__link--active,
.navbar__link:hover
{
  color: var(--ifm-color-primary-active);
}

html[data-theme='dark'] {
  --ifm-color-primary: white;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(176, 62, 233, 0.1) 10%, rgba(49, 226, 90, 0) 100%);
}

html[data-theme='light'] {
  --ifm-color-primary: black;
  --ifm-background-color: #F1F1F2;

  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(98, 17, 138, 0.1) 10%, rgba(49, 226, 90, 0) 100%);
}
